body {
    font-size: $font-size-body;
    background-color: $slate-300-hsl;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


// Add Desktop Styles with a media queries
// @media (min-width: 1440px) {
//     body {
//       background-color: hsl(216, 15%, 48%); // Slightly darker slate for desktop
//     }
//   }
  