@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&display=swap');

.regular-text {
@include typography($font-family-primary, 0.938rem, 400, 140%, 0.2px);
color: $slate-500-hsl;
opacity: 0.8; 
}

.bold-text {
@include typography($font-family-primary, 1.375rem, 600, 120%, 0px);
color: $slate-900-hsl;
margin-bottom: 0.5rem;
}